{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
    </div>
  </div>

  <div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.full_name.label(class="form-control-label") }}
                {% if form.full_name.errors %}
                    {{ form.full_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.full_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.full_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.about.label(class="form-control-label") }}
                {% if form.about.errors %}
                    {{ form.about(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.about.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.about(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
  </div>


  <!--Dform-->
  <div class="content-section">
    <button class="btn btn-outline-info update-dp" onclick="updateDp()">Update Profile Pic</button>
    <script>
      function updateDp() {
        var list = document.getElementsByClassName("update-dp");
        for (var i = 0; i < list.length; i++) {
          if (list[i].style.display === "none") {
            list[i].style.display = "block";
          } else {
            list[i].style.display = "none";
          }
        }
      }
    </script>
    <form class="update-dp" method="POST" action="" enctype="multipart/form-data" style="display:none;">
        {{ dform.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Upload Profile Pic</legend>
            <div class="form-group">
                <!--{{ dform.picture.label() }}-->
                {{ dform.picture(class="form-control-file") }}
                {% if dform.picture.errors %}
                    {% for error in dform.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ dform.submit(class="btn btn-outline-info") }}
        </div>
    </form>
  </div>


  <!--Pform-->
  <div class="content-section">
    <button class="btn btn-outline-info update-password" onclick="updatePassword()">Update Password</button>
    <script>
      function updatePassword() {
        var list = document.getElementsByClassName("update-password");
        for (var i = 0; i < list.length; i++) {
          if (list[i].style.display === "none") {
            list[i].style.display = "block";
          } else {
            list[i].style.display = "none";
          }
        }
      }
    </script>
    <form class="update-password" method="POST" action="" enctype="multipart/form-data" style="display:none;">
        {{ pform.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Password</legend>
            <div class="form-group update-password" style="display:none;">
                {{ pform.new_password.label(class="form-control-label") }}
                {% if pform.new_password.errors %}
                    {{ pform.new_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in pform.new_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ pform.new_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group update-password" style="display:none;">
                {{ pform.confirm_password.label(class="form-control-label") }}
                {% if pform.confirm_password.errors %}
                    {{ pform.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in pform.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ pform.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group update-password" style="display:none;">
            {{ pform.submit(class="btn btn-outline-info") }}
        </div>
    </form>
  </div>
</div>
{% endblock content %}
