{% extends "layout.html" %}
{% block header %}
<style>
div.post-unsafe {
  overflow: hidden;
  text-overflow: ellipsis;
}
div.status {
  margin-top:6px;
}
</style>
{% endblock %}

{% block content %}
  <article class="media content-section">
    <div class="media-body post-unsafe">
      <h1 class="article-title"><b>{{ post.title }}</b></h1><hr>
      <p class="article-content">{{ post.content | safe}}</p>
    </div>
  </article>
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata" style="">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <div class="status">
      {% if post.author == current_user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
      {% else %}
        <h5>Hi there! happy iBlogging :)</h5>
      {% endif %}
      </div>
    </div>
  </article>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="content-section">
<div id="disqus_thread"></div>
<script>
var disqus_config=function(){this.page.url="{{srb_url}}";this.page.identifier="{{srb_url}}"+"srbcheema";};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');s.src = 'https://iblog-test1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());(d.head || d.body).appendChild(s);
})();
</script>
</div>
{% endblock content %}
