<!doctype html>
<html>
  <head lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
  </head>
  <body class="text-center">
    <p>
    hello how are you</br>
    I am fine cool.
    </p>
<div id="disqus_thread"></div>
<script>
// these variables are to define our page uniquely in website
var disqus_config=function(){this.page.url="{{srb_url}}";this.page.identifier="{{srb_url}}"+"srbcheema";};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
// this variabe defines our website uniquely
s.src = 'https://iblog-test1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<script id="dsq-count-scr" src="//iblog-test1.disqus.com/count.js" async></script>
  </body>
</html>
